<h1 matDialogTitle> Registro de Tipo de Menu del Plato al agg</h1>
<br>
<div mat-dialog-content>
  <form [formGroup]="tipomenuForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>tipo</mat-label>
        <input matInput placeholder="Desayuno"  formControlName="tipo">
        
        
        <mat-hint>Campo requerido</mat-hint>
      </mat-form-field>
    </p>
  
    
    
    </form>
</div>

<div mat-dialog-action [align]="'end'"> 
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary"  (click)="addtipomenu()"  (click)="abrirDialogo()">Guardar</button>


</div>